@font-face {
	font-family: 'ffad_matroregular';
	src: url('font/ffad_matro-webfont.eot');
	src: url('font/ffad_matro-webfont.eot?#iefix') format('embedded-opentype'),
		url('font/ffad_matro-webfont.woff2') format('woff2'),
		url('font/ffad_matro-webfont.woff') format('woff'),
		url('font/ffad_matro-webfont.ttf') format('truetype'),
		url('font/ffad_matro-webfont.svg#ffad_matroregular') format('svg');
		font-weight: normal;
		font-style: normal;
}

html {
	font-size: 62.5%;
}

body {
	background-color: #F11FB8;
	font-family: 'Montserrat', sans-serif;
}

p {
	font-size: 1.7em
}

.bg-container {
	background: url('../assets/bg-m.jpg') no-repeat center 25%;
	height: 100vh;
}

.landing,
.content {
	position: relative;
}

.header {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
}

.logo {
	height: 92px;
	margin-top: 15px;
	margin-left: 15px;
	width: 234px;
}

.desc {
	color: #fff;
	font-family: 'ffad_matroregular';
	font-size: 2.2em;
}

.navigation {
	font-family: 'ffad_matroregular';
	text-transform: uppercase;
}

.menu {
	position: relative;
}

.navigation a {
	color: #fff;
	display: block;
	text-decoration: none;
}

.section {
	background-color: #fff;
	opacity: .9;
}

@media (min-width: 600px) {

}

@media (min-width: 900px) {
	.bg-container {
		background: url('../assets/bg.png') no-repeat center 25%;
	}

	.header {
		-webkit-align-items: center;
		align-items: center;
		-webkit-flex-direction: row;
		flex-direction: row;
		-webkit-justify-content: space-between;
		justify-content: space-between;
		margin: 0 42px;
	}

	.logo {
		height: 181px;
		margin-top: 55px;
		margin-left: 0;
		width: 464px;
	}

	.desc {
		font-size: 3.5em;
	}

	.navigation {
		right: 42px;
		position: absolute;
		top: 320px;
	}

	.navigation li {
		line-height: 60px;
	}

	.item-about {
		font-size: 5.5em;
	}

	.item-description {
		font-size: 3.7em;
	}

	.item-video {
		font-size: 5em;
	}

	.item-events {
		font-size: 3.7em;
	}

	.item-pictures {
		font-size: 4.2em;
	}

	.section {
		height: 100%;
		left: 0;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 999;
	}

	.about {
		display: none;
	}

	.close {
		display: block;
		height: 65px;
		width: 65px;
		z-index: 9999;
	}

	.about:target {
		display: block;
	}

	.close-about:target {
		display: none;
	}

	.about p {
		background-color: red;
		height: 55%;
		left: 42px;
		position: absolute;
		top: 280px;
		width: 65%;
	}
}

@media (min-width: 1200px) {
	.landing,
	.content {
		margin: 0 auto;
		width: 940px;
	}

	.header {
		margin: 0 0;
	}

	.navigation {
		right: 0;
	}

	.about p {
		left: 12%;
		width: 56%;
	}
}

@media (min-width: 1800px) {

}
