@font-face {
	font-family: 'ffad_matroregular';
	src: url('font/ffad_matro-webfont.eot');
	src: url('font/ffad_matro-webfont.eot?#iefix') format('embedded-opentype'),
		url('font/ffad_matro-webfont.woff2') format('woff2'),
		url('font/ffad_matro-webfont.woff') format('woff'),
		url('font/ffad_matro-webfont.ttf') format('truetype'),
		url('font/ffad_matro-webfont.svg#ffad_matroregular') format('svg');
		font-weight: normal;
		font-style: normal;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Montserrat', sans-serif;
}

p {
	font-size: 1.7em
}

.bg-container {
	background: #f11fb8 url('../assets/bg-m.png') no-repeat center 25%;
	height: 100vh;
}

.landing,
.content {
	position: relative;
}

.about,
.description,
.video,
.events,
.pictures {
	margin: 0 15px;
}

.header {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
}

.logo {
	height: 92px;
	margin-left: 20px;
	margin-top: 20px;
	width: 234px;
}

.desc {
	color: #fff;
	font-family: 'ffad_matroregular';
	font-size: 2.2em;
	margin-top: 17px;
	text-align: center;
}

.navigation {
	font-family: 'ffad_matroregular';
	position: relative;
	text-transform: uppercase;
}

.toggle span::after {
	background-color: grey;
	content: ' ';
	display: block;
	height: 42px;
	position: fixed;
	right: 20px;
	top: 20px;
	width: 42px;
	z-index: 99999;
}

.menu {
	background-color: #f11fb8;
	display: none;
	height: 100vh;
	opacity: .9;
	padding-top: 80px;
	position: fixed;
	top: 0;
	width: 100vw;
	z-index: 9999;
}

.navigation li {
	line-height: 1.35;
}

.navigation a {
	color: #fff;
	display: block;
	text-decoration: none;
}

.item-about {
	font-size: 5.5em;
	position: relative;
	text-align: center;
	transform: rotate(-5deg);
}

.item-description {
	font-size: 3.7em;
	position: relative;
	text-align: center;
}

.item-video {
	font-size: 5em;
	text-align: center;
	transform: rotate(5deg);
}

.item-events {
	font-size: 3.7em;
	position: relative;
	text-align: center;
}

.item-pictures {
	font-size: 4.2em;
	position: relative;
	text-align: center;
	transform: rotate(-8deg);
}

.section {
	background-color: #fff;
}

.close {
	display: none;
}

.imagefilm {
	height: 100%;
	width: 100%;
}

@media (max-width: 599px) and (orientation:landscape) {

	.menu {
		padding-top: 72px;
	}

	.item-about {
		font-size: 4.2em;
	}

	.item-description {
		font-size: 2.5em;
	}

	.item-video {
		font-size: 3.3em;
	}

	.item-events {
		font-size: 2.5em;
	}

	.item-pictures {
		font-size: 3.7em;
	}
}

@media (min-width: 600px) {

}

@media (min-width: 900px) {
	.bg-container {
		background: url('../assets/bg.png') no-repeat center 25%;
	}

	.header {
		-webkit-align-items: center;
		align-items: center;
		-webkit-flex-direction: row;
		flex-direction: row;
		-webkit-justify-content: space-between;
		justify-content: space-between;
		margin: 0 42px;
	}

	.about,
	.description,
	.video,
	.events,
	.pictures {
		margin-left: 0;
		margin-right: 0;
	}

	.logo {
		height: 181px;
		margin-top: 55px;
		margin-left: 0;
		width: 464px;
	}

	.desc {
		font-size: 3.5em;
		margin-top: 0;
		text-align: left;
	}

	.navigation {
		right: 42px;
		position: absolute;
		top: 320px;
	}

	.toggle {
		display: none;
	}

	.menu {
		background-color: transparent;
		display: block !important;
		height: auto;
		opacity: 1;
		padding-top: 0;
		position: relative;
		top: auto;
		width: auto;
	}

	.navigation li {
		line-height: 60px;
	}

	.navigation li::before,
	.navigation li::after {
		background: url('');
		content: ' ';
		display: none;
		height: 30px;
		width: 30px;
	}

	.navigation li::before {
		background: url('../assets/left.svg') no-repeat;
	}

	.navigation li::after {
		background: url('../assets/right.svg') no-repeat;
	}

	.item-about::before {
		left: -30px;
		position: absolute;
		top: 20px;
	}

	.item-about {
		text-align: left;
	}

	.item-about::after {
		right: 10px;
		position: absolute;
		top: 20px;
	}

	.item-description::before {
		left: 12px;
		position: absolute;
		top: 20px;
	}

	.item-description::after {
		right: 15px;
		position: absolute;
		top: 20px;
	}

	.item-video::before {
		left: 7px;
		position: absolute;
		top: 20px;
	}

	.item-video::after {
		right: 0;
		position: absolute;
		top: 20px;
	}

	.item-events::before {
		left: -33px;
		position: absolute;
		top: 20px;
	}

	.item-events::after {
		right: -35px;
		position: absolute;
		top: 20px;
	}

	.item-pictures::before {
		left: 10px;
		position: absolute;
		top: 20px;
	}

	.item-pictures::after {
		right: 5px;
		position: absolute;
		top: 20px;
	}

	.item-about:hover::before,
	.item-about:hover::after,
	.item-description:hover::before,
	.item-description:hover::after,
	.item-video:hover::before,
	.item-video:hover::after,
	.item-events:hover::before,
	.item-events:hover::after,
	.item-pictures:hover::before,
	.item-pictures:hover::after {
		display: block;
	}

	.section {
		height: 55%;
		left: 42px;
		position: fixed;
		overflow: scroll;
		top: 280px;
		width: 65%;
		z-index: 999;
	}

	.about,
	.description,
	.video,
	.events,
	.pictures {
		display: none;
	}

	.close {
		display: block;
		height: 65px;
		position: fixed;
		right: 95px;
		top: 242px;
		width: 65px;
		z-index: 9999;
	}

	.about:target,
	.description:target,
	.video:target,
	.events:target,
	.pictures:target {
		display: block;
	}

	.close:target {
		display: none;
	}

	.about p {
		margin: 20px;
	}
}

@media (min-width: 1200px) {
	.landing,
	.content {
		margin: 0 auto;
		width: 940px;
	}

	.header {
		margin: 0 0;
	}

	.navigation {
		right: 0;
	}

	.close {
		right: 215px;
	}
}

@media (min-width: 1800px) {

}
